body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.search-form {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #323232;
    position: relative;
}

.search-form input {
    border: none;
    background-color: transparent;
}

.search-form input:focus {
    outline: none;
    border-bottom: 1px solid #e97f03;
}

.search-form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__actions {
    display: flex;
    align-items: center;
}

.header__cart,
.header__account {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
}

.products-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.product-card {
    position: relative;
    display: flex;
    flex: 0 0 220px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 5px;
    background-color: #fff;
}

.product-card:hover {
    background: #f2f2f2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.products-card__like {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
}

.product-card__link {
    text-decoration: none;
}

.product-card__title {
    margin: 38px 0 10px;
    font: 400 18px/21px 'Roboto', sans-serif;
    text-align: center;
    color: #323232;
}

.product-card__image {
    margin: 50px 0 0;
    max-width: 100%;
    height: auto;
}

.product-card__description {
    margin-top: 0;
    font: 400 14px/16px 'Roboto', sans-serif;
    text-align: center;
    color: #545454;
}

@media screen and (max-width: 768px) {
    .product-card {
        flex-basis: 150px;
    }
}