<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>catalog</title>
</head>

<body>
    <div id="modal" class="modal"></div>
    <header class="header">
        <form class="search-form ">
            <button type="submit" class="search-button"><img src="<%= require('./assets/images/search.svg') %>"
                    alt=" search"></button>
            <input type="text" class="search-input" placeholder="Search products">
        </form>
        <div class="header__actions">
            <button class="header__cart">
                <img src="<%= require('./assets/images/cart.svg') %>" alt="cart">
            </button>
            <button class="header__account">
                <img src="<%= require('./assets/images/user.svg') %>" alt="user">
            </button>
        </div>
    </header>
    <main>
        <ul id="list"></ul>
        <div class="products-list">
        </div>
    </main>

</body>

</html>